[submodule "Detic"]
	path = Detic
	url = https://github.com/facebookresearch/detic.git
[submodule "Detic/third_party/CenterNet2"]
	path = Detic/third_party/CenterNet2
	url = https://github.com/xingyizhou/CenterNet2.git
[submodule "Detic/third_party/Deformable-DETR"]
	path = Detic/third_party/Deformable-DETR
	url = https://github.com/fundamentalvision/Deformable-DETR.git
